* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    justify-content: end;
    display: flex;
    padding: 20px;
    overflow: hidden;
    background-color: #201E43;
}

.nav a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 14px 16px;
}

.dropdown {
    overflow: hidden;
    float: left;
}

.dropdown .dropbtn {
     border: none;
     color: white;
     margin: 0;
     font-size: 16px;
     outline: none;
     padding: 14px 16px;
     background-color: inherit;
     font-family: inherit;
}

.nav a:hover, .dropdown:hover .dropbtn {
    border-radius: 20px;
    background-color: #134B70;
}

.dropdown-content {
    display: none;
    min-width: 160px;
    position: absolute;
    background-color:#508C9B;
    box-shadow: 0px 0px 16px 0px rgbe(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    display: block;
    text-align: left;
    text-decoration: none;
    float: none;
    padding: 12px 16px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.opening {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    font-size: 40px;
}

.item {
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.items {
    margin: 30px;
    border: 0px;
}

img {
    width: 600px;
    height: 400px;
    border-radius: 20px;
}

h4 {
    font-size: 40px;
    text-align: center;
}

p {
    max-width: 300px;
}

.engagement {
    display: flex;
}